*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    color: #7c7c7c;
    border-right: none;
    border-top: none;
    outline: none;
    border-left: none;
    border-bottom: 1.5px solid #9c9c9c;
}